body {
    background-color: #FCCC0A !important;
}

nav {
    background-color: #000;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.31);
}

.btn-primary {
    border-radius: 62px !important;
    color: black !important;
    border: 4px solid #9C7D00 !important;
    background: linear-gradient(180deg, #FFF 0%, #FCCC0A 100%);
    box-shadow: 2px 4px 17px 6px rgba(0, 0, 0, 0.25);
    font-weight: 400;
}

.hero-item {
    width: auto;
    height: 80vh;
    overflow: hidden;
    /* background-image: url(https://res.cloudinary.com/dvs9uoak0/image/upload/v1693050790/the-nudge/use_this_on_the_full_screen_for_1_second_tcgpvy.jpg); */
    background-size: cover;
    background-position: center;

}

.carousel-item-1 {
    background-image: url(https://res.cloudinary.com/dvs9uoak0/image/upload/v1694843534/hero-img_u2yelh.png);
}

.carousel-item-2 {
    background-image: url(https://res.cloudinary.com/dvs9uoak0/image/upload/v1694843534/hero-img_u2yelh.png);
}

.carousel-item-3 {
    background-image: url(https://res.cloudinary.com/dvs9uoak0/image/upload/v1694843534/hero-img_u2yelh.png);
}

.carousel-item-4 {
    background-image: url(https://res.cloudinary.com/dvs9uoak0/image/upload/v1694843534/hero-img_u2yelh.png);
}

.carousel-item-5 {
    background-image: url(https://res.cloudinary.com/dvs9uoak0/image/upload/v1694843534/hero-img_u2yelh.png);
}

.hero-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(252, 204, 10, 0.39);
}

.hero-item div {
    color: black;
    z-index: 1000;
    position: absolute;
    top: 60%;
    padding-left: 10px;
    width: 60%;
    background: rgba(252, 204, 10, 0.61);
    /* height: 100px; */
    font-size: 25px;
}

.btn-black {
    border-radius: 40px !important;
    border: 3px solid #000;
    background: linear-gradient(180deg, #FFF 0%, #000 33.68%);
    box-shadow: 2px 4px 17px 6px rgba(0, 0, 0, 0.25);
    color: #FFF !important;
    border: 0px !important;
    width: 90%;
}

.feature-cards {
    width: 100%;
    background: #E5D48F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.s-stories {
    height: 30px;
}

.success-cards {
    border-radius: 6px;
    background-color: #E5D48F;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.review-cards {
    border-radius: 41px;
    background-color: #E6D48F;
    box-shadow: 0px 14px 4px -5px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 35px;

}

.review-cards img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-top: -25px;
    margin-bottom: 20px;
}

.insta-section {
    border-radius: 18px;
    background-color: #000;
    color: white;
}

footer {
    background-color: black;
    color: #e3e3e3;
}

footer a {
    color: #e3e3e3;
    text-decoration: underline;
}

.modal-body {
    background-color: rgba(252, 204, 10, 0.21);
    backdrop-filter: blur(20px);
    border-radius: 20px;

}

.modal-content {
    background-color: rgba(252, 204, 10, 0.21) !important;
    border-radius: 20px;
    color: #FFF;
    /* text-align: center; */
    font-family: Montserrat;
    font-weight: 500;
}

.modal-content input {
    background-color: white !important;
    border-radius: 15px !important;
}

.yellow-text {
    color: #FCCC0A;
}

.btn-weekdays {
    border-radius: 15px !important;
    background-color: #D9D9D9;
    color: black;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.btn-yellow {
    border-radius: 25px !important;
    background-color: #FCCC0A !important;
}

#review-col{
    height: 20rem;
}

#success-col{
    height: 10rem;
}

.modal-content{
    border-radius: 20px !important;
}

.invalid-feedback{
    color: #000000 !important;
}